.amenities, .flat-details {
  ul {
    list-style: none;
    padding: 0px 15px;
  }
  ul li {
    margin: 0;
    margin-bottom: 16px;
  }
}

.key-details {
  a {
    color: inherit;
  }

  i {
    color: $primary;
    font-size: 0.8em;
    margin-left: 5px;
  }
}

.booking-form {
  max-height: 400px;
  overflow: scroll;
}

#review-achor {
  color: inherit;
}

#review-achor:hover {
  color: inherit;
}

.form-control:disabled, .form-control[readonly] {
  background-color: inherit;
}
