// Specific CSS for your home-page
form {
  width: 80%;
  margin: 0 auto;
}

form fieldset {
  text-align: left;
  width: 80%;
  margin: 0 auto;
}

.home-search {
  width: 80%;
  margin: auto;

  #query_date-field {
    width: 90%;
  }
}
