<div class="container" style="  justify-content: space-between;">
  <h2 style="text-align: center;">My Bookings</h2>
  <div class="container" style="display: flex; justify-content: space-evenly;">
    <div class="left-container" style="justify-content: space-between;">
      <div class="cards">
        <ul>
          <% @bookings.each do |booking| %>
            <li> <%= booking.id %> - <%= link_to booking.campsite.title ,booking_path(booking) %> </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>


