<div class="container" style="display: flex; justify-content: space-evenly;">
  <div class="left-container">
    <h1>You are booking <strong><%= @booking.campsite.title %></strong> </h1>
    <h4><strong>(<%= @booking.campsite.user.first_name %></strong> is your host for this booking)</h4>
    <br>
    <h4>
      Dates: <strong>8 Sep' 19</strong> to <strong>15 Sep' 19</strong>
    </h4>
    <hr>
    <br>
  </div>
</div>
