<div class="">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "astronomy" %>);">
    <div class="container search-container d-flex align-items-center rounded border">
      <%= render 'pages/partials/home_search' %>
    </div>
    <div class="container text-container">
      <h1>Camping experience made simple</h1>
      <h2>Camp on private lands and access unique and safe new places </h2>
    </div>
  </div>
