<div class="">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "astronomy" %>);">
    <%= render 'pages/partials/home_search' %>
  </div>
</div>
