// homepage containers
.sub-container {
  flex-grow: 1;
  margin: 50px;
}

.product-container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 50px;
}

// index containers
.main-container {
  display: flex;
}

.cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 16px;
}

.top-bar-below-nav {
  margin-top: 100px;
}

// edit form containers
.container-btns {
  display: flex;
  justify-content: space-between;
}

