// homepage containers
.search-container {
  width: 700px;
  height: 60%;
}

.sub-container {
  flex-grow: 1;
  margin: 50px;
}

.product-container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 50px;
}

// index containers
.main-container {
  display: flex;
}

.cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 16px;
}

.top-bar-below-nav {
  margin-top: 100px;
}

body, html {
   min-height: 100vh;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 80px;
    /* bottom = footer height */
    padding: 0px;
}
