body, html {
   width: 100%;
   min-height: 100vh;
   margin: 0px;
   padding: 0px;
   overflow-x: hidden;
}
// html {
//   position: relative;
//   min-height: 100%;
// }

// body {
//   margin: 0 0 80px;
//   /* bottom = footer height */
//   padding: 0px;
// }
.general-container {
  min-height: 90vh;
}

.container{
  min-height: 90vh;
}
.btn-primary {
  color: #fff;
}

.left-container{
  justify-content: space-between;
}

.right-container {
  width: 40%;
}

.white-space {
  margin-top: 40px;
}
