.navbar-lewagon {
  position: absolute;
  width: 100vw;
  padding: 20px 40px;
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.navbar-light .navbar-nav .nav-link {
  color: #44c676 !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #bef7d3 !important;
}
