<div class="amenities">
  <h3>Amenities</h3>
  <ul>
    <li>
      <i class="fas fa-paw"></i> Pet Friendly
    </li>
    <li>
      <i class="fas fa-wifi"></i> WiFi
    </li>
    <li>
      <i class="fas fa-shower"></i> Showers
    </li>
    <li>
      <i class="fas fa-toilet"></i> Toilet
    </li>
    <li>
      <i class="fas fa-parking"></i> Free Parking
    </li>
  </ul>
</div>
