<div class="amenities">
  <h2>Amenities</h2>
  <ul>
    <li>
      Pet Friendly
    </li>
    <li>
      WiFi
    </li>
    <li>
      Showers
    </li>
    <li>
      Toilet
    </li>
    <li>
      Free Parking
    </li>
  </ul>
</div>
