<div class="flat-details">
  <h2>Key Info</h2>
  <p><strong>Max Guests</strong> 7</p>
  <p><strong>Minimum Nights</strong> 5</p>
  <p><strong>Check in:</strong> 3PM</p>
  <p><strong>Check out:</strong> 11AM</p>
</div>
