<div class="review my-5">
  <h3>Shit garden, no toilet</h3>
  <div class="d-flex align-items-center">
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar mr-3" %>
    <p class="m-0">Reviewer Name</p>
  </div>
  <p>Nice welcome The are warm couple and flowers lover. Very thoughtful people, we had everything we need it . You can see they had a lot of expepeience hosting people over the years . Sunny room with a view of the garden. Very good with direction to the House</p>
</div>
