<div class="container" style="justify-content: space-between;">
  <p style="text-align: center;">this is where the search bar will be</p>
  <div class="container" style="display: flex; justify-content: space-evenly;">
    <div class="left-container">
      <div class="cards">
        <% @campsites.each do |campsite| %>
          <%= render 'shared/campsite_card', campsite: campsite %>
          <% end %>
      </div>
    </div>
    <div class="right-container" >
      <div
        id="map"
        style="width: 100%;
        height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
  </div>
</div>
