<div class="top-bar-below-nav">
  <%= @campsite.title %>
  <%= link_to "edit", edit_user_campsite_path(current_user), class: 'btn btn-outline-primary' %>
  <%= link_to "Back to results", campsites_path %>
  <%= link_to "Book", new_campsite_booking_path(@campsite), class: 'btn btn-primary' %>
</div>
